HR-менеджер решил провести анализ вакансий на рынке труда. Он попросил отдел разработки собрать информацию из доступных интернет-источников и получил от них csv-таблицу, в которой значения разделены запятой.

Первая строка файла содержит имена полей: Occupation, Company, City, Min_salary, Max_salary, Experience, Date

Пример строки файла:
1001,Python Developer,TechCorp,Москва,120000,200000,5,2024-03-15

Чтобы получить точный результат, HR-менеджер решил не учитывать строки, в которых:

    пропущены значения в любых полях, кроме полей минимальной и максимальной зарплаты
    минимальная зарплата указана больше максимальной

Если значение пропущено в полях с минимальной/максимальной зарплатой, то пропущенное значение заполняется существующим значением максимальной/минимальной зарплаты.

Среднюю зарплату HR-менеджер посчитал за среднее арифметическое между минимальной и максимальной зарплатой.

HR-менеджер разделил вакансии на группы по опыту работы. Опыт работы разбит на категории: 0-1, 2-3, 4-5, 6-7, 8-9 лет. Примеры групп: первая — 0 ≤ опыт ≤ 1, вторая — 2 ≤ опыт ≤ 3.


Через пробел выпишите номера групп по опыту работы:

    С максимальным среди других групп минимальным значением средней зарплаты
    С медианным среди других групп значением среднего средней зарплаты
    С наибольшим среди других групп значением медианы средней зарплаты

In [ ]:
import pandas as pd
data = pd.read_csv("4.4.2.csv", sep=",")
df = pd.DataFrame(data)
df_cleaned = df.dropna(subset=["Occupation", "Company", "City", "Experience", "Date"])
df_cleaned = df_cleaned[df_cleaned["Min_salary"] <= df_cleaned["Max_salary"]]
print("Размер исходного DataFrame:", df.shape)
print("Размер очищенного DataFrame:", df_cleaned.shape)
df_cleaned['Min_salary'] = df_cleaned['Min_salary'].fillna(df_cleaned['Max_salary'])
df_cleaned['Max_salary'] = df_cleaned['Max_salary'].fillna(df_cleaned['Min_salary'])
df_new = df_cleaned.assign(avg_salary = (df_cleaned['Min_salary'] + df_cleaned['Max_salary'])/2)
print(df_new.dtypes)
df_new.info
bins = [0, 1, 3, 5, 7, 9]
labels = ["1", "2", "3", "4", "5"]

df_new["Exp_group"] = pd.cut(df_new["Experience"], bins=bins, labels=labels, right=True)
grouped = df_new.groupby('Exp_group')['avg_salary']
stats = grouped.agg(['min', 'mean', 'median'])

print(stats)

Размер исходного DataFrame: (800, 7)
Размер очищенного DataFrame: (631, 7)
Occupation     object
Company        object
City           object
Min_salary    float64
Max_salary    float64
Experience    float64
Date           object
avg_salary    float64
dtype: object
                min           mean    median
Exp_group
1           84000.0  180562.500000  156250.0
2           75000.0  165207.943925  145250.0
3           71000.0  169947.368421  147750.0
4          101500.0  163601.449275  141500.0
5           98000.0  178201.923077  161000.0

C:\Users\toha0\AppData\Local\Temp\ipykernel_16740\2097332275.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Experience'] = pd.to_numeric(df_cleaned['Experience'], errors='coerce')
C:\Users\toha0\AppData\Local\Temp\ipykernel_16740\2097332275.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df_new.groupby('Exp_group')['avg_salary']