
    Найдите час, в который чаще всего совершались сделки. (Подсказка: из ячеек формата DateTime можно извлечь час с помощью .dt.hour; например data['Date'].dt.hour)
    Найдите среднее, медиану и стандартное отклонение у округленных до целого значений df['Price']. Ответы округлите до десятых и выпишите их через пробел.
    Найдите возрастную группу, представители которой чаще являются агентами, не используя фильтрацию. Возрастные группы:
        0-35: Young
        36-55: Middle-aged
        56+: Senior

In [ ]:
import pandas as pd

In [26]:
data = pd.read_csv("3.3.2.csv", sep=";")
df = pd.DataFrame(data)

In [11]:
data["Time of deal"] = pd.to_datetime(data['Time of deal'], format='%Y-%m-%d %H:%M')

In [14]:
data["hour"] = data["Time of deal"].dt.hour
print(data["hour"].value_counts())

hour
12    13
9     12
10    11
16    10
14     9
11     9
13     9
15     9
17     4
Name: count, dtype: int64

In [23]:
round_price = data['Price'].round(0)

In [34]:
mean_val = round(round_price.mean(), 1)
median_val = round(round_price.median(), 1)
std_val = round(round_price.std(), 1)
print(f"{mean_val}, {median_val}, {std_val}")

254.2, 237.5, 80.4

In [ ]:
bins = [0, 35, 55, 120]
labels = ["young", "middle-aged", "senior"]

df["Age_group"] = pd.cut(df["Agent age"], bins=bins, labels=labels, right=True)
count_age_groupe = df.groupby("Age_group").sum()
count_age_groupe

C:\Users\toha0\AppData\Local\Temp\ipykernel_10704\3289642006.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  count_age_groupe = df.groupby("Age_group").sum()

,Agent Name,Agent age,Time of deal,Price
Age_group,,,,
young,John DoeMichael JohnsonEmily DavisSophia Harri...,1008,2024-10-30 12:342024-10-30 14:122024-10-30 16:...,6945.80
middle-aged,Jane SmithChris WilsonSarah LewisMatthew Brown...,1691,2024-10-30 09:452024-10-30 10:252024-10-30 11:...,10886.55
senior,Daniel EvansBenjamin GreenJack BakerMia BellAm...,722,2024-10-30 13:452024-10-30 16:352024-10-30 12:...,4027.40